.thumbnail {
    padding: 0;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .main-image {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 15px;
  }
  
  .img-preview {
    width: 100px;
    height: 60px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  body {
    overflow-y: scroll;
  }
  